@{
    /**/

    ViewBag.Title = "Home Page";
}


<main>

    <header class="header" id="header">
    </header>
    <div style="padding-left: 50px">
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#"><img src="@Url.Content("~/Imagenes/logo_white.png")" alt="logo" height="50"></a>
                </div> <a><h1>BIENVENIDO</h1> </a>
            </nav>
        </div>
        @section scripts{
            <script src="@Url.Content("~/Scripts/Views/Home_Index.js")" type="text/javascript"></script>
        }

        <style>
            h1{
                

            }

        </style>

    </div>
</main>


