<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AppUSS" connectionString="data source = SQUAZ-PC; initial catalog = BDSupermercado; user id = sa; password = Manuel+10"/>
	</connectionStrings>
</configuration>

